<% provide(:title, "Map List" ) %>

<div class="row">

  <div class="col-md-8">
    <% if params[:view] == "list" || params[:view].nil? %>
      <div class="list">
        <ul >
          <% @maps.each do |map|%>
            <li>
              <%= link_to map.name, map %> 
              <% if can? :update, map %><%= link_to "Edit", edit_map_path(map) %><% end %>
              <% if map.likes_count > 0 %><%= fa_icon "thumbs-up-alt", text: map.likes_count, class: "up-vote" %><% end %>
              <% if map.hates_count > 0 %><%= fa_icon "thumbs-down-alt", text: map.hates_count, class: "down-vote" %><% end %>
              <% if map.map_comments_count > 0 %><%= map.map_comments_count %><% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% elsif params[:view] == "grid" %>
      <div class="grid">
        <%= render 'shared/map_image_list', {maps: @maps} %>
      </div>
    <% end %>

    <%= will_paginate @maps, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-4">

    <div id="map-views" class="panel panel-default">
      <div class="panel-heading">View</div>
      <div class="panel-body">
        <span><%= link_to_unless params[:view].blank?,    "List", params.merge(view: "list", page: nil), title: "List View" %></span>
        <span><%= link_to_unless params[:view] == "grid", "Grid", params.merge(view: "grid", page: nil), title: "Grid View" %></span>
      </div>
    </div>

    <hr>

    <div id="map-categories" class="panel panel-default">
      <div class="panel-heading">Map Categories</div>
      <div class="panel-body">
        <% @map_types.each do |map_type| %>
          <%= link_to_unless map_type.id==params[:map_type_id], map_type.name, params.merge(map_type_id: map_type.id, page: nil), {class: "label label-primary"} %>
        <% end %>
      </div>
    </div>

    <hr>

    <div id="map-orders" class="panel panel-default">
      <div class="panel-heading">Order By</div>
      <div class="panel-body">
        <span><%= link_to_unless params[:sort].blank?,    "Name", params.merge(sort: "", page: nil),{ title: "Name", class: "label label-primary"} %></span>
        <span><%= link_to_unless params[:sort] == "best", "Most Popular", params.merge(sort: "best", page: nil),{ title: "Most Popular", class: "label label-primary"} %></span>
        <span><%= link_to_unless params[:sort] == "comments", "Most Comments", params.merge(sort: "comments", page: nil),{ title: "Most Comments", class: "label label-primary"} %></span>
        <span><%= link_to_unless params[:sort] == "newest", "Newest", params.merge(sort: "newest", page: nil),{ title: "Newest", class: "label label-primary"} %></span>
        <span><%= link_to_unless params[:sort] == "last_played_at", "Last Played", params.merge(sort: "last_played_at", page: nil),{ title: "Last Played", class: "label label-primary"} %></span>
        <span><%= link_to_unless params[:sort] == "total_time_played", "Total Time Played", params.merge(sort: "total_time_played", page: nil),{ title: "Total Time Played", class: "label label-primary"} %></span>
      </div>
    </div>


  </div>

</div>
