<% provide(:title, "Map List" ) %>

<div class="row">

  <div class="col-md-8">
    <% if params[:view] == "list" || params[:view].nil? %>
      <div class="list">
        <ul >
          <% @maps.each do |map|%>
            <li>
              <%= link_to map.name, map %> 
              <% if map.votes.likes.count > 0 %><%= fa_icon "thumbs-up-alt", text: map.votes.likes.count, class: "up-vote" %><% end %>
              <% if map.votes.hates.count > 0 %><%= fa_icon "thumbs-down-alt", text: map.votes.hates.count, class: "down-vote" %><% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% elsif params[:view] == "grid" %>
      <div class="grid">
        <%= render 'shared/map_image_list', {maps: @maps} %>
      </div>
    <% end %>

    <%= will_paginate @maps %>
  </div>
  <div class="col-md-4">

    <div class="map-views">
      <h2>View</h2>
        <%= link_to "List", params.merge(view: "list", page: nil), title: "List View" %>
        <%= link_to "Grid", params.merge(view: "grid", page: nil), title: "Grid View" %>
    </div>

    <hr>

    <div class="map-categories">
      <h2>Map Categories</h2>
      <% @map_types.each do |map_type| %>
        <%= link_to map_type.name, params.merge(map_type_id: map_type.id, page: nil), {class: "label label-info"} %>
      <% end %>
    </div>

  </div>

</div>
