<% provide(:title, "Map List" ) %>

<div class="row">

  <div class="col-md-8">
    <% if params[:view] == "list" || params[:view].nil? %>
      <div class="list">
        <ul >
          <% @maps.each do |map|%>
            <li>
              <%= link_to map.name, map %> 
              <% if map.votes.likes.count > 0 %><%= fa_icon "thumbs-up-alt", text: map.votes.likes.count, class: "up-vote" %><% end %>
              <% if map.votes.hates.count > 0 %><%= fa_icon "thumbs-down-alt", text: map.votes.hates.count, class: "down-vote" %><% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% elsif params[:view] == "grid" %>
      <div class="grid">
        <%= render 'shared/map_image_list', {maps: @maps} %>
      </div>
    <% end %>

    <%= will_paginate @maps, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-4">

    <div id="map-views" class="panel panel-default">
      <div class="panel-heading">View</div>
      <div class="panel-body">
        <span><%= link_to_unless params[:view].blank?,    "List", params.merge(view: "list", page: nil), title: "List View" %></span>
        <span><%= link_to_unless params[:view] == "grid", "Grid", params.merge(view: "grid", page: nil), title: "Grid View" %></span>
      </div>
    </div>

    <hr>

    <div id="map-categories" class="panel panel-default">
      <div class="panel-heading">Map Categories</div>
      <div class="panel-body">
        <% @map_types.each do |map_type| %>
          <%= link_to map_type.name, params.merge(map_type_id: map_type.id, page: nil), {class: "label label-primary"} %>
        <% end %>
      </div>
    </div>

  </div>

</div>
