<% provide(:title, @map.name) %>

<h2><%= @map.name %></h2>
<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span5">
        <h4><%= @map.map_type.name %></h4>
        <p><%= link_to "Download", fast_dl_link(@map) %></p>
        <% if current_user_admin? %>
          <p><%= link_to "Edit Map", edit_map_path(@map) %></p>
        <% end %>

      </div>
      <div class="span3">
        <%= image_tag(smart_map_image_url(@map.name), class: "img-rounded map-thumbnail") %>
        <span class="up-vote"><%= @map.liked_by.count %><i class=".icon-thumbs-up"></i></span>
        <span class="down-vote"><%= @map.hated_by.count %><i class=".icon-thumbs-down"></i></span>
      </div>
    </div>

    <% if current_user %>
      <div class="container" id="vote_menu">
        <%= link_to "like it", vote_map_path(@map, type: "up"), method: "post" %>
        <%= link_to "hate it", vote_map_path(@map, type: "down"), method: "post" %>
      </div>
      <%= simple_form_for [@map, MapComment.new],
        method: 'post' do |f| %>
        <%= f.input :comment, as: :text, input_html: {rows: 2, cols:50} %>
        <%= f.button :submit %>
      <% end %>
    <% else %>
      <p class="text-info">You must be logged in to leave a comment</p>
    <% end %>

    <h3>All Comments (<%= @map.map_comments.count %>)</h3>
    <% @map.map_comments.each do |mc| %>
      <div class="media" >
        <%= link_to image_tag(mc.user.avatar_url, class: "media-object"), mc.user.profile, class: "pull-left" %>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to mc.user.nickname, mc.user.profile %><span class="muted"><%= mc.updated_at.to_s(:long) %></span></h4>
          <%= mc.comment %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="span4">
    <h3>Liked by</h3>
    <%= render 'shared/user_image_list', {users: @map.liked_by} %>

    <h3>Hated by</h3>
    <%= render 'shared/user_image_list', {users: @map.hated_by} %>
  </div>

</div>

<h3>Related maps</h3>
<%= render 'shared/map_image_list', {maps: @map.find_related_maps_deep} %>

