<div class="list">
  <ul >
    <% maps.each do |map|%>
      <li>
        <%= link_to map.name, map %> 
        <% if can? :update, map %><%= link_to "Edit", edit_map_path(map), {class: "btn btn-default btn-xs"} %><% end %>
        <% if map.likes_count > 0 %>
          <span class="up-vote">
            <%= fa_icon "thumbs-up", text: map.likes_count, class: "fa-lg" %>
          </span>
        <% end %>
        <% if map.hates_count > 0 %>
          <span class="down-vote">
            <%= fa_icon "thumbs-down", text: map.hates_count, class: "fa-lg" %>
          </span>
        <% end %>
        <% if map.map_comments_count > 0 %>
          <span class="comment-counter">
            <%= fa_icon "comments", text: map.map_comments_count, class: "fa-lg" %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
