<!DOCTYPE html>
<html>
  <head>

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Map Votes", root_path, class: "brand" %>

        <div class="col-sm-3 col-md-3 pull-left">
          <%= simple_form_for maps_path, method: "get", class: "navbar-form form-search" do |f| %>
            <%= f.input_field :search, name: "search", class: "input-medium search-query", placeholder: "Search Maps", value: params[:search], size: 35 %>
            <%= f.submit "Search" %>
          <% end %>
        </div>


        <ul class ="nav pull-right">
          <li><%= link_to "Map List", maps_path %></li>
          <% if current_user_admin? %>
            <li><%= link_to "Add Map", new_map_path %></li>
            <li><%= link_to "Add API Key", api_keys_path %></li>
          <% end %>
          <% if current_user %>
            <li>Welcome <%= current_user.nickname %></li>
            <li><%= link_to "Log Out", logout_path %></li>
            <%= link_to image_tag(current_user.avatar_url, alt: "avatar"), current_user.profile %>
          <%else %>
            <li><%= link_to image_tag("sits_small.png", alt: "Sign in with Steam"), "/auth/steam" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

    <%= render partial: "shared/flash_messages", flash: flash %>

    <div class="container" >
      <%= yield %>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="row">
        <div class="col-lg-12">
          <p><%= link_to "Powered By Steam", "http://steampowered.com" %></p>
        </div>
      </div>
    </div>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
